<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Returns input focus to the game screen when the second screen takes it. -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <application
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kairo98"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Kairo98">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondaryKeyboardActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false" />
    </application>
</manifest>
